<div class="ekart-product--container">
    <!--
    <p>Name: {{product.name}}</p>
    <p>Price: ${{product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: $789</p>
    <button (click)="decrement()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="increment()">+</button>
    <input (input)="onNameChange($event)">
    <p>name : {{name}}</p> -->
    <search (searchEvent)="handleSearch($event)"></search>
    <!-- <div *ngFor="let item of listOfString">
        <p>{{item}}</p>
    </div> -->
    <product-list 
    #productListComponent
    [searchText]="searchTextContainer"
    ></product-list>

    <product-detail 
    [productListComp]="productListComponent"
    *ngIf="productListComponent.selectedProduct"
    ></product-detail>
</div>