<div class="ekart-product--container">
    <!--
    <p>Name: {{product.name}}</p>
    <p>Price: ${{product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: $789</p>
    <button (click)="decrement()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="increment()">+</button>
    <input (input)="onNameChange($event)">
    <p>name : {{name}}</p> -->
    <search (searchEvent)="handleSearch($event)"></search>
    <!-- <div *ngFor="let item of listOfString">
        <p>{{item}}</p>
    </div> -->
    <product-list 
    #productListComponent
    [searchText]="searchTextContainer"
    ></product-list>

    <product-detail 
    [productListComp]="productListComponent"
    *ngIf="productListComponent.selectedProduct"
    ></product-detail>

    <div class="ekart-featured-products">
        <div class="ekart-featured-products-heading">
            <h1>Latest Arrival in Popular Brands</h1>
        </div>

        <featured-brands>
            <h3 class="title">New Arrivals in Nike</h3>
            <button class="call-to-action">Show New Arrivals in Nike</button>
        </featured-brands>

        <featured-brands>
            <h3 class="title">New Arrivals in Adidas</h3>
            <button class="call-to-action">Show New Arrivals in Adidas</button>
        </featured-brands>

        <featured-brands>
            <h3 class="title">New Arrivals in Rebook</h3>
            <button class="call-to-action">Show New Arrivals in Rebook</button>
        </featured-brands>
        
    </div>
</div>