<div class="ekart--product--item">
    <div class="ekart-wishlist-sale-container">
        <div class="ekart--add--to--wishlist">
          <i class="fa-regular fa-heart" aria-hidden="true"></i>
        </div>
        <div 
        class="ekart-on-sale-tag"
        *ngIf = "product.discountPrice != null">
            {{ (100 - (product.discountPrice / product.price * 100)).toFixed(0) }}% OFF
        </div>
      </div>
      <div class="ekart--product--image">
          <img [src]="product.imageURL" class="ekart--product--image">
      </div>
      <div class="ekart--add--to--price">
          {{product.price}}
      </div>
      <div class="ekart--product--name">{{product.name}}</div>
      <div class="ekart--product--category">{{product.gender}} . {{product.category}} . {{product.brand}}</div>
      <div class="ekart--product--available-colors">{{product.color.length}} Colors . Best Seller</div>
      <div 
      [ngStyle]="product.is_in_inventory ? {'color': '#28a745'} : {'color': '#dc3545'}"
      class="ekart--product--in--stock">
        {{product.is_in_inventory ? 'In stock' : 'Out of stock'}}
      </div>
</div>